body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #778899;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    padding: 10px;
  }
  
  header h1 {
    color: #fff;
    margin: 0;
    text-align: center;
  }
  
  nav {
    margin-top: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  nav ul li a:hover {
    background-color: #e5e5e5;
  }
  
  #character-card {
    text-align: center;
    margin-top: 20px;
  }
  
  #character-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  #character-name {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  #character-details {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #episodes {
    margin-top: 40px;
    text-align: center;
  }
  
  #episode-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #load-more-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
  }
  
  #load-more-button:hover {
    background-color: #45a049;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /*No se porque no se guardan algunos valores que le puse xd*/